/* colors defined at top for easy configuring */
@import "../omarchy/current/theme/waybar.css";

/* font declared */
* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 13px;
}

window#waybar {
    background-color: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.empty #window {
    background-color: transparent;
}

.modules-left,
.modules-right,
.modules-center {
  margin: 2px 10px 0 10px;
  background-color: @background;
  border: 1px solid @focused;
  border-radius: 3px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}